/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
main {
  margin-top: 0; }
  main .img-fundo {
    position: absolute;
    background-size: cover;
    repeat: no-repeat;
    width: 35.9em;
    margin-top: 0;
    padding-top: 0;
    z-index: -1; }
  main h2, main h3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    color: #2da665;
    margin-left: 18%;
    font-size: 220%;
    text-decoration: underline;
    text-decoration-color: #16165a; }
  main form {
    margin: 0 0 1.8em; }
    main form .input-padrao {
      display: table;
      width: 50%; }
